.pieChartContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    height: 220px;
    margin-left:30px ;
}

.heading {
    background-color: #346ba6; /* Background color for heading */
    padding: 10px 20px;
}

.headingText {
    margin: 0;
    color: #ffffff; /* Text color for the heading */
    font-size: 15px;
    text-align: center;
}

.chartContainer {
    margin: 0; /* Padding around the pie chart */
    height: 230px; /* Set height as per your requirement */
    padding-left: 10px;
}
